body {
  font-family: 'Roboto Condensed';
  font-size: 16px;
  margin: 0px;
  background-color: #FCFFE7;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #EB455F;
}

/*section {
  padding: 20px;
}*/

/* collors interspersed by section, in this case only odd */
/*section:nth-child(odd) {
  background-color: #BAD7E9;
}*/

#introduction {
  padding-top: 20px;
}

.profile-img {
  filter: grayscale(30%);
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: -70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile {
  text-align: center;
  width: 325px;
  float: left;
}

.profile h1 {
  line-height: 45px;
}

.profile h2 {
  color: #9F9F9F;
  font-size: 20px;
  font-weight: normal;
}

.network-icon {
  padding: 0px;
  margin-top: 20px;
}

.network-icon li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 30px;
}

.about_me {
  width: 575px;
  margin-left: 355px;
  text-align: justify;
}

.about_me h2,
h3 {
  font-size: 22px;
}

.education-column .education-list .description {
  border: 5ex;
}

.experience {
  overflow: hidden;
}