{% extends "base.html" %}

{% block page_content %}
<title>Home</title>
<div class="container">
  <div class="row">
    <div class="col col-4 bg_blue">
      Nombre, fotografia y links
    </div>
    <div class="col col-8 bg_orange">
      <h2>Biografia</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 bg_blue">
      <h2>Experiencia laboral</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 bg_pink">
      <h2>Skills</h2>
    </div>
  </div>
</div>

{% endblock %}